body {
		margin: 0;
		padding: 0;
		height: 100%;
		font-family: 'Arial';
		background-size: cover;
		background-color: #222;
		color: #eee;
		grid-template-columns: 300px auto;
		grid-template-rows: 200px auto 200px;
		min-height: 100vh;
}

::-webkit-scrollbar {
      width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.2s;
	padding: 20px 100px;
	z-index: 10000;
}

header.sticky
{
	padding: 20px 100px;
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(30px);
}

header.sticky ul li a
{
	
}

header .logo
{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.2s;
}

header .logo:hover
{
	transform: scale(1.05);
	transition: 0.2s;
}

header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li
{
	position: relative;
	list-style: none;
	text-decoration: none
}

header ul li a
{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.1s;
}

header ul li a:hover
{
	color: rgba(255, 255, 255, 1);
	transition: 0.1s;
}



.banner {
		padding-top: 0em;
		display: block;
		width: 100%;		
}


.banner2 {
		padding-top: 0em;
		display: block;
		width: 100%;
		background-color: #222;
		height: 25em;
		background-image: url("images/bp_bg.png");
		background-size: 100%;
		user-select: none;
}

.banner3 {
		padding-left: 2px;
		padding-top: 0em;
		display: block;
		width: 100%;
		background-image: url("images/bannerv2.png");
		height: 26em;
		background-size: 100%;
		user-select: none;
		background-repeat: no-repeat;
		
}
.bannerText {
		padding-top: 1em;
		color: white;
		display: grid;
		place-items: center;
		justify-content: center;
		font-size: 5.8em;
		font-family: 'Arial';
		font-weight: 10;
}

.homeBorder {
		border-radius:20px;
		-moz-border-radius:20px;
		-webkit-border-radius:20px;
		background: rgba(0, 0, 0, 0.4);
		display: grid;
		place-items: center;
		justify-content: center;
		padding: 0.5em;
		position: absolute;
		font-size: 3em;
		font-family: 'Arial';
		font-weight: 10;
		margin-left: 1em;
		margin-top: 1em;
		transform: scale(0.9);
		transition: .3s ease;
		text-decoration: none;
		color: white;
}

.homeBorder:hover {
	cursor: pointer;
		transform: scale(1);
			transition: .3s ease;
}

.boxa{
	width: 100px;
	height: 100px;
	background: none;
	margin: 20px;
	box-sizing: border-box;
	transform: scale(1);
	cursor: pointer;
	transition: .3s ease;
}

.boxa:hover{
	 transform: scale(1.1);
	 transition: .3s ease;
}




.topnav {
  overflow: hidden;
  background-color: #444;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.topnav a {
  float: left;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1.5vw;
}

.topnav a:hover {
  background-color: #555;
  color: rgba(255, 255, 255, 0.9);
}

.topnav a.active {
  background-color: #a34f40;
  color: white;
}




*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	box-sizing: border-box;
}

section{
	width: 100%;
	background.color: #3c4053;
	display: grid;
	place-items: center;
	justify-content: center;
	padding: 1rem;
}

test{

	background.color: #3c4053;
	display: flex;
	align-items: left;
	justify-content: left;
	padding: 1rem;
}

.container{
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

.accordion-item{
	line-height: 1.6;
	background-color: #1a1a1a;
	border radius: .4rem;
	margin-bottom: 1rem;
	padding: 1rem;
	box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);

}

.accordion-link{
	font-size: 1.3rem;
	color: white;
	text-decoration: none;
	background-color: #1a1a1a;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	border: none;
	outline: none;
	cursor: pointer;
}


.accordion-link:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion-link.active:after {
  content: "\2212";
}

.accordion-link i{
	color: white;
	padding: .5rem;
	font-style: normal;
}

.panel::before{
	
	content: "";
	position: absolute;
	width: .3rem;
	height: 100%;
	background-color: #a34f40;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.panel{
	line-height: 1.6;
	font-family: 'Arial';
	position: relative;
	background-color: #303030;
	padding: 2rem;
	display: none;
}

.link{
	color: #87c9ff;
}

h1{
	font-weight: 100;
	color: grey;
	padding-top: 4rem;
	padding-bottom: 1rem;
}


.footerlink{
	color: #d1d1d1;
	text-decoration: none;
}

.footerlink:hover{
	color: white;
}


footer{
	padding: 5rem;
}

boldtext{
		color: yellow;
}


.container2{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-content: space-around;
	flex-flow: wrap;
	justify-content: center;
}

.box2{
	width: 284px;
	height: 284px;
	background: green;
	margin: 20px;
	box-sizing: border-box;
		 transform: scale(0.9);
	cursor: pointer;
	background-image: url("images/InventoryLogo.png");
	transition: .3s ease;
}


.overlay {

  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 284px;
	vertical-align: middle;
	height: 284px;
  transition: .3s ease;
  opacity:0;
  
  color: white;
  font-size: 25px;
  
  text-align: center;
	-webkit-backdrop-filter: blur(8px) brightness(1.2);
	backdrop-filter: blur(8px) brightness(1.2);
}

.box2:hover .overlay {
	opacity: 1;
    position: bottom; 
	border-style: dashed;
	
}

.box2:hover {
	 transform: scale(1.0);
	   transition: .3s ease;
}


.container3 {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.aboxCenter1 {


  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 360px;
  background-color: #222;
  padding: 30px;
  border-radius: 30px;
  
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
  
}

.aboxCenter2 {


  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 50px;
  background-color: #222;
  padding: 15px;
  border-radius: 30px;
  font-size: 20px;
}

.boxrightcenter {


  margin-left: auto;
  margin-right: 80px;
  width: 40%;
  padding: 15px;
  transform: translate(0, -110px);
}

mark.blue_italic { 
    color: #61b0ed;
    background: none;
	font-style: italic
}
mark.green {
    color: #11fc00;
    background: none;
}
mark.orange_italic {
    color: #ff6f00;
    background: none;
	font-style: italic
}
mark.yelow {
    color: #97d48a;
    background: none;
}
mark.purple {
    color: #d61861;
    background: none;
}

.hideelem {
	display: none;
}


.buttonf {
	width: 230px;
  background-color: #259974;
  border-radius: 30px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-style: dashed;
}

.buttonf1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonf2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #49c49e;
}


#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
  backdrop-filter: blur(10px);
}

#videoborder{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

iframe{
	  border-radius: 20px;
}

.videobutton
{
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: .2s;
	padding-right: 40px;
}

.videobutton:hover
{
	transform: scale(1.05);
	transition: .2s;
}